@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Protest+Riot&family=Roboto&display=swap");

:root {
  /* Colors */
  --background-primary-color: #100433;
  --background-secondary-color: #94899653;

  --font-primary-color: #f0ffff;
  --font-secondary-color: #0a0a23;

  --border-primary-color: #c2b849;
  --border-secondary-color: #f0ffff;

  --gradient-primary-color: #c2b849cc;
  --gradient-secondary-color: #c2b8495f;

  --invalid-primary-color: #8b0000;
  --invalid-secondary-color: #e9b2b2;
  /* Font sizes */
  --primary-font-size: 2rem;
  --secondary-font-size: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--primary-font-size);
  background-color: var(--background-primary-color);
  color: var(--font-primary-color);
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: var(--secondary-font-size);
  text-align: center;
  padding: 0 1rem;
}

span {
  display: block;
}

.box {
  border: 3px solid var(--border-primary-color);
  width: 80%;
  padding: 2rem;
  background-color: var(--background-secondary-color);
  text-align: center;
}

label {
  color: var(--font-secondary-color);
  font-weight: bold;
}

.number-input,
.convert-btn {
  font: inherit;
  width: 95%;
  height: 3.5rem;
}

.number-input {
  border: 1px solid var(--border-secondary-color);
  background-color: var(--background-primary-color);
  color: var(--font-primary-color);
  padding: 0.5rem;
}

.convert-btn {
  background: linear-gradient(
    var(--gradient-primary-color),
    var(--gradient-secondary-color)
  );
  border: 2px solid var(--border-primary-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

.invalid-input {
  color: var(--invalid-primary-color);
  background-color: var(--invalid-secondary-color);
  border-color: var(--invalid-primary-color);
}
